{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <img width="28" height="28" alt="Rest Client" style="border-width: 0; vertical-align: middle; margin-right: 5px;" src="{{ asset('bundles/overblogrestclient/images/rest.png') }}"/>
    {% endset %}
    {% set text %}
        <span title="{{ '%0.2f'|format(collector.time * 1000) }} ms">{{ collector.querycount }}</span>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon"><img src="{{ asset('bundles/webprofiler/images/profiler/db.png') }}" alt="" /></span>
    <strong>Rest Client</strong>
    <span class="count">
        <span>{{ collector.querycount }}</span>
        <span>{{ '%0.0f'|format(collector.time * 1000) }} ms</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>Queries</h2>

    {% if not collector.querycount %}
        <p>
            <em>No queries.</em>
        </p>
    {% else %}
        <ul class="alt">
            {% for i, query in collector.queries %}
                <li class="{{ i is odd ? 'odd' : 'even' }}">
                    <div>
                        <code>{{ query.stats.url }}</code>
                    </div>
                    <small>
                        <strong>Method</strong>: {{ query.method }}<br />
                    {% if query.param %}
                        <strong>Parameters</strong>: {{ query.param|yaml_encode }}<br />
                    {% endif %}
                        <strong>Stats</strong>: {{ query.stats|yaml_encode }}<br />
                        <strong>Time</strong>: {{ '%0.2f'|format(query.stats.total_time * 1000) }} ms
                    </small>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}